@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@theme {
  --color-bg: #020617;
  --color-fg: #ffffff;
  --color-muted-fg: #475569;

  --color-primary: #818cf8;
  --color-primary-fg: #e5e7eb;

  --color-secondry: #64748b;
  --color-secondary-fg: #6366f1;
  --z-9999: 9999;
  --z-999: 999;
}
/* poppin font */

@layer base {
  ::-webkit-scrollbar {
    width: 0px;
  }
  html {
    scroll-behavior: smooth;
    user-select: none;
  }
  body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: "Inter", "Poppins", sans-serif;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
